body {
  font-family: "Open Sans", sans-serif;
}
.center {
  display: block;
  margin: 0px auto;
}
h1 {
  color: #384e25;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  text-align: center;
  margin: 0px;
}
h2 {
  text-align: center;
  background-color: #a58045;
  padding: 3px 10px;
  margin: 5px;
  font-size: 28px;
  color: white;
}
h3 {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #9bb90c;
  text-align: center;
  padding: 10px 25px;
}
.spacing {
  letter-spacing: 5px;
}
.menu {
  font-size: 16px;
  letter-spacing: 2px;
  color: #000000;
  text-decoration: none;
}
.menu:hover {
  color: #face86;
}
.hero {
  min-width: 964px;
  min-height: 422px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("src/frutos_secos.jpg");
}
footer {
  text-align: center;
  color: #6d7754;
  font-size: 14px;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;
  color: #183313;
}
nav ul li a:hover {
  color: #face86;
}
my-copy {
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
